.page {
    background-color: #2A2C2F;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}