.cover__subtitle {
    list-style: none;
    padding: 0;
    max-width: 258px;
    margin: 16px auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    text-align: center;
    position: relative;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        margin-top: 32px;
        font-size: 18px;
        line-height: 22px;
        /* or 122% */
        max-width: 360px;

    }
}

@media screen and (min-width: 1024px) {
    .cover__subtitle {

    }
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
    }
}