.intro__text {
    /*min-width: 288px;*/
    /*min-height: 520px;*/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 40px 16px 0;
    display: flex;
}

@media screen and (min-width: 768px) {
    .intro__text {
        margin: 40px 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    .intro__text {
        margin: 40px 286px 0 48px;
        line-height: 26px;
    }
}

@media screen and (min-width: 1280px) {
    .intro__text {
        margin-left: 148px;
    }
}