/*Настоящая страна не в выпусках новостей*/
.lead__subtitle {
    border: red solid 1px;

    width: 288px;
    height: 40px;
    margin: 16px auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    text-align: center;
}