.cover {
    margin-top: 66px;
    background-image: url("../../images/cover-trains.jpg");

    /*начинает давать горизонтальный скролл*/
    /*height: 62.5vw;*/

    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 33px 16px;
    position: relative;
    box-sizing: border-box;
}

.cover::before {
    background-color: #2A2C2F;
    opacity: 0.3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover:hover::before {
    opacity: 0.8;
}

/*@media screen and (min-width: 768px) {*/
/*    .cover {*/
/*        padding: 115px 104px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1024px) {*/
/*    .photo {*/
/*        padding-top: 196px;*/
/*        max-width: 1184px;*/
/*        max-height: 740px;*/
/*        margin: 0 auto;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1280px) {*/
/*    .photo {*/
/*        padding-top: 214px;*/
/*    }*/
/*}*/
