/*Одна карточка в таблице*/
.place {
    list-style: none;
    padding: 0;
    margin: 50px 0 0;
}

@media screen and (min-width: 768px) {
    .place {
        margin: 0 auto 73px;
        display: grid;
        grid-template-columns: 340px 352px;
        column-gap: 28px;
        row-gap: 48px;
        grid-template-areas:
        "title website"
        "image-box paragraphs";
    }

    .place:last-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: 440px 456px;
        gap: 48px 32px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: 460px 484px;
        gap: 48px 40px;
    }
}
